*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#showcase-container{
    height: 100vh;
    width: auto;
    position: relative;
}
#menu-container{
    position: absolute;
    top: calc(100% - 370px);
    left: 0;
    display: none;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 10px #0f1011;
    line-height: 1.1;
    letter-spacing: .6px;
    font-family: "Roboto", sans-serif;
    max-width: 358px;
    box-sizing: border-box;
    z-index: 1;
    overflow-x: hidden;
}
#menu-container > * {
    background: rgba(0,0,0,.45);
    transition: all .4s ease-in-out;
}
#menu-container:hover > * {
    background: rgba(0,0,0,.75);
}
#space-menu-toggle{
    flex: 1 0 10%;
    line-height: 40px;
    text-align: center;
    min-width: 35px;
}
#space-menu-toggle:hover{
    background: rgba(0,0,0,.85);
    cursor: pointer;
}
#menu-title{
    display: flex;
    flex: 0 0 90%;
    font-size: 18px;
    align-items: center;
}
#menu-title > span{
    padding-left: .5rem;
}
#space-menu{
    flex: 0 0 90%;
    justify-self: flex-end;
    list-style: none;
}
#space-menu > *{
    padding: .5rem;
    font-size: 14px;
}
#space-menu > *:hover{
    background: rgba(0,0,0,.85);
    cursor: pointer;
}
#arrow{
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 1px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.hidden{
    /* display: none; */
    width: 0;
}
.hidden > *{
    display: none;
}

#gallery{
    display: flex;
    flex-flow: row nowrap;
    height: 130px;
    /* width: fit-content; */
    background: rgba(0,0,0,.45);
    position: absolute;
    top: 0;
    right: 410px;
    left: 400px;
    max-width: calc(100% - 379px - 410px);
}
